@layer base, layout, components, utilities;

/* Base */
@import "./base/reset.css" layer(base);
@import "./base/tokens.css" layer(base);
@import "./base/foundation.css" layer(base);

/* Layout */
@import "./layout/flex.css" layer(layout);
@import "./layout/grid.css" layer(layout);

/* Components */
@import "./components/section.css" layer(components);
@import "./components/container.css" layer(components);
@import "./components/card.css" layer(components);
@import "./components/button.css" layer(components);
@import "./components/social-icons.css" layer(components);
@import "./components/topbar.css" layer(components);
@import "./components/hero-section.css" layer(components);
@import "./components/framework-section.css" layer(components);
@import "./components/footer.css" layer(components);

/* Utilities */
@import "./utils/spacing.css" layer(utilities);