/* Box */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Root & body */
html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
    margin: 0;
}

/* Typography & headings */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Lists */
ul,
ol {
    margin: 0;
    padding: 0;
}

/* Media elements */
img,
picture,
svg,
video,
canvas,
a img,
button img {
    display: block;
    max-width: 100%;
    height: auto;
    border: none;
    outline: none;
}

img:focus,
a img:focus,
button img:focus {
    outline: none;
}

/* Forms & buttons */
button,
input,
textarea,
select {
    font: inherit;
    color: inherit;
    line-height: inherit;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Links */
a {
    color: inherit;
    text-decoration: none;
}

/* Tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
}